.calendarTitle{
    font-size: 2rem;
    text-align: center;
    margin: 6.5vh auto 3vh auto;
    color: #e1e1e1;
    background-color: #222;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}


.bodyCalendar{
    background-image: url("/DBPimg.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* No se repite */
    height: 90vh;
}