.calendarContainer{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 90px);
    width: 100%;
    max-width: 630px;
    grid-template-rows: 50px repeat(6, 80px);
    border: solid 1px black;
    border-radius: 5px;
    background-color: #fff;
}

.day{
    font-size: 1.7rem;
    font-weight: 600;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.able:hover{
    background-color: #1a2a43;
    color: #e1e1e1;
}

.dayname{
    justify-content: center;
    background-color: #222;
    color: #e1e1e1;
    border: solid 2px #222;
}

.day i{
    font-size: 30px;
}

.arrow{
    font-size: 3rem;
    border-radius: 50%;
}

.arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: lightgray;
    background-color: #222;
}

.red{
    color: darkred;
}

.black{
    color: black
}